<div class="centering">
  <mat-card class="reg-card">
    <form [formGroup]="form" (ngSubmit)="registration()">
      <h2>Regisztráció</h2>
      <mat-form-field class="max-width">
        <mat-label>E-mail</mat-label>
        <input type="email" name="email" matInput placeholder="Pl. legyen@meganégyes.com" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Jelszó</mat-label>
        <input type="password" name="password" matInput placeholder="Jelszó" formControlName="password1" required>
        <mat-hint align="end">{{form.value.password1.length}}/min. hossz 8</mat-hint>
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Jelszó újra</mat-label>
        <input type="password" name="password" matInput #password2 placeholder="Jelszó újra"
          formControlName="password2" required>
        <mat-hint align="end">{{password2.value.length}}/min. hossz 8</mat-hint>
      </mat-form-field>
      <mat-chip-list *ngIf="error">
        <mat-chip color="warn" class="max-width" style="margin-top: 16px;" selected>
          A két jelszó nem egyezik / Nem elég hosszú jelszó.
        </mat-chip>
      </mat-chip-list>
      <br>
      <div><button mat-button color="accent" [routerLink]="[ '/login' ]">BEJELENTKEZÉS</button></div>
      <br>
      <button type="submit" mat-raised-button color="primary" class="max-width">REGISZTRÁCIÓ</button>
    </form>
  </mat-card>
</div>
