<div class="centering">
  <mat-card class="log-card">
    <form [formGroup]="form" (ngSubmit)="login()">
      <h2>Bejelentkezés</h2>
      <h4>A használathoz regisztráljon, jelentkezzen be!</h4>
      <mat-card id="alertCard" class="alert" *ngIf="alertMessage">
        {{alertMessage}}
      </mat-card>
      <mat-form-field class="max-width">
        <mat-label>E-mail</mat-label>
        <input type="email" name="email" matInput placeholder="Pl. example@example.com" formControlName="email">
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Jelszó</mat-label>
        <input type="password" name="password" matInput minlength="8" placeholder="Jelszó" formControlName="password">
      </mat-form-field>
      <br>
      <div><button mat-button color="accent" (click)="navTo('/registration')">REGISZTRÁCIÓ</button></div>
      <br>
      <button type="submit" mat-raised-button color="primary" class="max-width">BEJELENTKEZÉS</button>
    </form>
  </mat-card>
</div>